[Unit]
Description=CPU Cooler
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/env python ~/.local/bin/cpu_cooler.py

[Install]
WantedBy=default.target
Alias=cpu-cooler.service
